@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

body {
  background-color: #121212 !important; /* Cor de fundo mais escura para o corpo */
}

.content {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  background-color: #333 !important; /* Fundo escuro para o container */
  color: #fff !important; /* Texto branco para contraste */
  padding: 20px !important; /* Espaçamento interno adequado */
}

.breadcrumb-item {
  color: #fff !important;
}

label {
  color: #fff !important;
}

.p-paginator {
  background-color: #333 !important; /* Fundo escuro para o paginador */
  border-radius: 4px !important; /* Arredonda as bordas para uma estética mais suave */
  padding: 10px !important; /* Espaçamento interno para melhorar a usabilidade */
  color: #fff !important; /* Cor cinza clara para os textos e números, proporcionando contraste */
}

.p-paginator .p-paginator-pages .p-paginator-page {
  color: #fff !important;
}

.p-icon {
  color: #fff !important;
}

.card {
  background-color: #333 !important; /* Fundo escuro para os cards */
  border: 2px solid rgba(255, 215, 0, 0.5) !important; /* Sombra mais proeminente para melhor contraste */
}

.card-header {
  background-color: rgba(
    255,
    215,
    0,
    0.5
  ) !important; /* Cor mais escura para o cabeçalho do card */
  color: #fff !important; /* Cor clara para o texto */
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.icon-pesquisar,
.input-pesquisar {
  color: #ccc !important; /* Cor mais clara para ícones e input */
  border-radius: 4px !important;
  padding: 5px !important;
  font-size: 18px !important;
  margin-left: 5px !important;
}

.card {
  margin: 20px 0 !important;
}

.procurar-css {
  padding: 12px !important;
  background-color: #1a1a1a !important; /* Fundo escuro para a barra de pesquisa */
}

.table > :not(caption) > * > * {
  background: #2c2c2c !important;
  color: #fff !important;
}

.tableskindiv {
  padding: 20px;
  border: 2px solid rgba(255, 215, 0, 0.5);
  padding: 10px !important;
  border-radius: 8px;
  background: #242424 !important; /* Fundo escuro para as divs de tabela */

  .actions {
    text-align: end;
  }

  th {
    background: #2c2c2c !important;
  }

  .actions-header {
    padding: 10px;
    background: #242424 !important; /* Cor de fundo igual ao restante da div */
  }

  .button-search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .botoes {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.bg-primary {
  background-color: #1a1a1a !important; /* Cor de fundo mais escura para o cabeçalho do card */
}

.tableskin {
  width: 100% !important;

  thead {
    background-color: #333 !important; /* Cor escura como alternativa ao azul claro de .bg-primary */
  }
  th {
    padding: 10px !important;
    color: #fff !important; /* Texto branco para garantir contraste e visibilidade */
    text-align: left !important;
  }
  tbody {
    background-color: #1e1e1e !important; /* Fundo escuro para o corpo da tabela */
  }
  td {
    padding: 15px !important;
    text-align: left !important;
    color: #ccc !important; /* Cor cinza clara para o texto, para melhor visibilidade */
  }
  tbody tr:nth-child(even) {
    background-color: #252525 !important; /* Variação ligeira para linhas alternadas, mantendo boa visibilidade */
  }
  tbody tr:hover {
    background-color: #2c2c2c !important; /* Cor de fundo ao passar o mouse, para melhorar a interatividade */
  }
}
