.formcss {
  margin: 20px 0px;
  padding: 20px;
  min-height: 72vh;

  position: relative;
  -webkit-print-color-adjust: exact;
}

.button-save {
  text-align: end;
}

.available {
  display: flex;
  justify-content: center;
  align-items: center;
}
