.topo {
  background: #212121 !important; /* Fundo escuro */
  border-bottom: 2px solid #333 !important; /* Borda mais sutil */
  height: 18vh !important;
  width: 100% !important;
}

.titulo {
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  color: #e0e0e0 !important; /* Texto em cinza claro para melhor visibilidade */
  font-size: 35px !important;
}

@media screen and (max-width: 600px) {
  .titulo {
    color: #e0e0e0 !important;
    font-size: 25px !important;
  }
}
