.detail-css {
  padding: 12px !important;
  background-color: #333 !important; /* Fundo escuro para detalhes */
}

.modal-title {
  color: white !important; /* Mantém a cor do texto em branco para máximo contraste */
}
