<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <!-- Adiciona sombra ao card para mais profundidade -->
        <div class="card-header bg-primary text-white text-center">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group mb-3">
              <label for="username" class="form-label">Username</label>
              <div class="input-group">
                <span class="input-group-text"
                  ><fa-icon [icon]="['fas', 'user']"></fa-icon
                ></span>

                <input
                  type="text"
                  class="form-control"
                  id="username"
                  [(ngModel)]="username"
                  name="username"
                  required
                  placeholder="Enter your username"
                />
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="password" class="form-label">Password</label>
              <div class="input-group">
                <span class="input-group-text"
                  ><fa-icon [icon]="['fas', 'user-secret']"></fa-icon
                ></span>

                <input
                  type="password"
                  class="form-control"
                  id="password"
                  [(ngModel)]="password"
                  name="password"
                  required
                  placeholder="Enter your password"
                />
              </div>
            </div>
            <button
              (click)="login()"
              type="submit"
              class="btn btn-primary btn-block w-100"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
