.conteudo {
  background: linear-gradient(to right, #03045e, #0d6efd, #03045e);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente o conteúdo interno */
  align-items: center; /* Centraliza verticalmente o conteúdo interno */
}
